html,
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: 'Source Serif Pro', serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px;
  transition: background-color 5000s ease-in-out 0s;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: rgba(103, 125, 53, 0.1);
  box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(103, 125, 53);
  border-radius: 0px;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: rgba(103, 125, 53, 0);
  border-radius: 10px;
  box-shadow: none;
  padding: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(75, 69, 60, 0.5);
  border-radius: 10px;
}

.h-100 {
  height: 100vh;
  background-color: antiquewhite;
}
.w-100 {
  height: 100vh;
}

.logo-color {
  color: #677d35;
}
.logo-bgcolor {
  background-color: #677d35;
}
.gray {
  color: rgba(41, 34, 34, 0.5);
}
.sm-font {
  font-size: 0.5rem;
}

.x_auto {
  overflow-x: auto;
}

#app {
  background-color: antiquewhite;
  height: 100%;
}

#home,
#about,
#serive,
#photolab,
#qanda {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#top {
  width: 100vw;
  height: 230px;
  z-index: 10;
}

#content {
  width: 100vw;
  height: 100%;
}

#botton {
  width: 100vw;
  height: 220px;
  display: flex;
  align-items: flex-end;
  background-color: antiquewhite;
  margin-top: 20px;
}

.transition-swing {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

/* sweetalert------------------------------------------------- */
.swal2-popup {
  background-color: rgba(50, 50, 50, 0.9) !important;
  border-radius: 0px !important;
  width: 250px !important;
}

.swal2-title {
  font-size: 1rem !important;
  color: antiquewhite !important;
}

.swal2-styled.swal2-confirm {
  background-color: antiquewhite !important;
  border: 0px !important;
  color: #595959 !important;
  font-size: 1rem !important;
  /* border-radius: 0px !important; */
}

#swal2-content {
  color: antiquewhite !important;
}
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background-color: rgba(0, 0, 0, 0) !important;
}
.swal2-styled.swal2-deny {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #cd5c5c !important;
  color: antiquewhite !important;
  font-size: 1.0625em;
}

/* 前導頁------------------------------------------------- */

#leading {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  position: relative;
  /* z-index: 999; */
}

#leading .logo {
  margin: 30px;
  position: absolute;
  z-index: 2;
}
#leading .img-1 {
  width: 100px;
  height: auto;

  margin: 30px;
  display: flex;
  position: absolute;
}

#leading .btn_leading {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#leading .v-btn {
  position: absolute;
  top: 80%;
  z-index: 2;
}
.bg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 235, 215, 0.3);
}
/* Menu------------------------------------------------- */
#menu {
  /* position: fixed; */
  width: 100vw;
  height: 230px;
  background-color: antiquewhite;
}
#menu .img-1 {
  display: none;
}
#menu .menu {
  padding: 0 !important;
  height: 200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
}
#menu .menu-logo {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100vw;
}
#menu .img-2 {
  width: auto;
  height: 100px;
  margin: 30px 0;
  padding: 10px;
}
#menu .menu-btn {
  height: 100px;
  display: flex;
  justify-content: center;

  position: relative;
}
#menu .menu-btn::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #000000;
  position: absolute;
}
#menu .menu-btn::after {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #000000;
  position: absolute;
  top: 50px;
}
#menu .v-overlay__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu .v-overlay__content .v-btn {
  position: relative !important;

  font-size: 1rem;
  margin: 10px;
  padding: 30px;
}
#menu .v-overlay__content .btn-close {
  font-size: 1rem;
  margin-bottom: 100px;
  padding: 5px;
}

/* 預約按鈕------------------------------------------------- */
#resBtn {
  display: flex;
  flex-direction: row;
  width: 50px;
  position: absolute;
  right: 5px;
  top: 160px;
}
#resBtn .v-btn {
  height: 40px;
  width: 40px;
  border: none;
  margin: 5px;
  color: rgb(184, 55, 46);
  right: 0px;
}
#resBtn .btn-1 {
  display: none;
}
#resBtn .v-btn:before {
  display: none;
}

/* footer------------------------------------------------- */
#footer {
  width: 100vw;
  z-index: 1;
}

/* #footer .v-footer {
  display: flex;
  align-items: flex-end;
  background-color: antiquewhite !important;
} */
#footer .v-footer .v-card {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(75, 69, 60);

  padding: 10px 10px 10px 0;
}
#footer .v-card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* nevbtn------------------------------------------------- */
#nevBtn {
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  z-index: 2;
}
#nevBtn .v-btn {
  color: inherit !important;
}

/* topbtn------------------------------------------------- */
#topBtn .v-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(252, 253, 251, 0.8);
  color: #000000;
  position: fixed;
  bottom: 65px;
  right: 10px;

  z-index: 2;
}
/* login------------------------------------------------- */
#login #app {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}
#login .v-application--wrap {
  min-height: 580px !important;
}
#login .theme--light.v-expansion-panels .v-expansion-panel {
  background-color: antiquewhite;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #000000;
  width: 100%;
}
#login,
#lobin .v-form {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#login h4 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#login h5 {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.7);
}
#login #div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#login v-col {
  display: flex;
  flex-direction: row;
}
#login .v-card {
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px solid #000000;
}
#login .v-btn--disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

#login .v-application .error--text {
  color: #677d35 !important;
  caret-color: #677d35 !important;
}

/* usermenu------------------------------------------------- */
#userMenu {
  display: flex;
  justify-content: center;
}

/* #userMenu .v-icon {
  color: #677d35;
} */

#userMenu .v-application--wrap {
  min-height: auto;
}
/* #userMenu .v-btn.v-btn:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
} */
/* #userMenu .v-btn.v-btn:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
} */
#userMenu .theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
  background: rgba(255, 255, 255, 0.2);
}
#userMenu .theme--light.v-btn.v-btn--has-bg {
  background-color: transparent;
}
#userMenu .v-application p {
  margin-bottom: 0px;
}
#userMenu .theme--dark.v-list {
  background: rgba(103, 125, 53, 0.9);
}
#userMenu .theme--dark.v-btn.v-btn--has-bg {
  background-color: transparent;
}
/* userdata------------------------------------------------- */
#uData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#uData #app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100%;
}
#uData .v-application--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 520px !important;
  width: 100vw;
}
#uData .v-card {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100vw;
  padding: 25px;
  margin-top: 50px;
}
#uData .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}
#uData .v-text-field fieldset {
  height: 80px;
}
#uData .v-avatar {
  margin: 20px;
}
#uData .v-card__text {
  color: rgba(103, 125, 53, 0.9) !important;
}
#uData span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#uData .v-card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#uData .v-application p {
  margin: 0px;
}
#uData .v-card__actions .edit,
#uData .v-card__actions .save {
  /* color: #677d35; */
  margin: 20px 0;
  background-color: rgba(103, 125, 53, 0.8);
}
#uData .v-card__actions .cancel {
  background-color: rgba(212, 97, 68, 0.8);
  margin: 0;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: indianred;
}
.editColor.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: rgba(177, 192, 141, 0.7) !important;
  transition: 1s;
}
.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: rgba(0, 0, 0, 0.06);
  transition: 1s;
}
/* reserve form------------------------------------------------- */
#order form {
  width: 100%;
  height: 100%;
  line-height: 35px;
}
#order .v-application--wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
#order .theme--light.v-stepper {
  background: rgba(255, 255, 255, 0.4);
}
#order .step1,
#order .step2,
#order .step3 {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 5px;
  padding: 30px;

  cursor: pointer;
}
#order .theme--light.v-sheet--outlined {
  border: none;
}
#order .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}
#order .v-btn {
  margin: 10px;
}
#order .v-radio {
  margin: 10px;
}
#order .v-item-group {
  margin: 30px;
}
#order .v-input {
  margin: 20px;
}
#order .v-chip:before {
  background-color: rgb(255, 255, 255);
}

#order .theme--dark.v-btn {
  color: antiquewhite;
}
#order .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: rgba(0, 0, 0, 0.06);
  /* cursor: pointer; */
}
#order .v-date-picker-table {
  position: relative;
  padding: 0 12px;
  height: 350px;
}

/* userorder-------------------------------------------------  */
#uOrder .theme--light.v-data-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.87);
  margin: 75px;
}

#uOrder .v-data-table__wrapper {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.4);
}
#uOrder .theme--light.v-data-table .v-data-footer {
  width: 100vw;
}
#uOrder .v-data-table > .v-data-table__wrapper > table > tbody > tr {
  height: 90px;
}
#uOrder .v-data-table > .v-data-table__wrapper > table > tbody > tr:hover {
  background-color: rgba(103, 125, 53, 0.3);
  cursor: pointer;
}
#uOrder .v-text-field .v-input__control {
  height: 45px;
}
/* allOrderList-------------------------------------------------  */
#allOrderList .theme--light.v-data-table {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-color: antiquewhite;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.87);
}
#allOrderList .v-data-table > .v-data-table__wrapper > table > tbody > tr:hover {
  background-color: rgba(103, 125, 53, 0.3);
  cursor: pointer;
}
/* editPagesHome editPagesNew-------------------------------------------------  */
#editPagesHome .v-application--wrap,
#editPagesNew .v-application--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#editPagesHome .theme--light.v-data-table,
#editPagesNew .theme--light.v-data-table,
#editPagesPhotolab .theme--light.v-data-table {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-color: antiquewhite;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.87);
}
#editPagesHome .v-data-table > .v-data-table__wrapper > table > tbody > tr {
  height: 110px;
}
/* #editPagesHome
  .v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td {
  margin: 100px !important;
  padding: 0 100px !important;
} */
#editPagesHome .v-data-table > .v-data-table__wrapper > table > tbody > tr:hover,
#editPagesNew .v-data-table > .v-data-table__wrapper > table > tbody > tr:hover,
#editPagesPhotolab .v-data-table > .v-data-table__wrapper > table > tbody > tr:hover {
  background-color: transparent;
}
#editPagesHome .v-data-table__wrapper {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#editPagesHome .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  width: 300px;
}
#editPagesHome .v-application--is-ltr .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
#editPagesNew .v-application--is-ltr .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
#editPagesPhotolab .v-application--is-ltr .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  text-align: center !important;
}
#editPagesHome .v-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#editPagesNew .titlee {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}
#editPagesNew .content {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}
#editPagesNew .create {
  width: 200px;
}

#userMenu .editPagesNew.v-card__text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#userMenu .editPagesNew.v-card__text > .v-text-field {
  width: 80vw;
}
#userMenu .editPagesNew.v-card__text > .v-input {
  flex: 0;
}
#userMenu .addimg.img-inputer--large {
  margin: 50px 0;
  width: 80vw;
}
.btn {
  position: absolute;
  bottom: 10px;
  right: 30px;
}
/* orderInfo  allOrderInfo -------------------------------------------------  */
#orderInfo,
#allOrderInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#orderInfo .v-card,
#allOrderInfo .v-card {
  width: 100vw;
  background-color: transparent !important;
  box-shadow: none;
}
#orderInfo .v-application .grey.lighten-4,
#allOrderInfo .v-application .grey.lighten-4 {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-color: rgba(255, 255, 255, 0.4) !important;
  display: block;
}
#orderInfo .v-banner--single-line .v-banner__text,
#allOrderInfo .v-banner--single-line .v-banner__text {
  font-size: 0.875rem;
}
#orderInfo .theme--light.v-sheet,
#allOrderInfo .theme--light.v-sheet {
  background-color: rgba(213, 202, 189, 0.5);
  border-color: #d5cabd;
  color: rgba(0, 0, 0, 0.87);
  margin: 30px;
  padding: 30px;
}
#orderInfo .text-2 > .theme--light.v-sheet,
#allOrderInfo .text-2 > .theme--light.v-sheet {
  margin-top: 0px;
}
#orderInfo .theme--light.v-sheet span,
#allOrderInfo .theme--light.v-sheet span {
  display: flex;
  margin: 13px;
}
#orderInfo .v-input--selection-controls,
#allOrderInfo .v-input--selection-controls {
  margin: 0px 10px;
  padding: 0px;
}

#orderInfo .v-application .fail,
#allOrderInfo .v-application .fail {
  color: indianred;
  cursor: pointer;
}
#orderInfo .v-application .success,
#allOrderInfo .v-application .success {
  background-color: transparent !important;
  border-color: transparent !important;
  color: rgb(97, 139, 72);
  cursor: pointer;
}
#orderInfo .msg,
#allOrderInfo .msg_web {
  display: flex;
  justify-content: flex-end;
  width: 50% !important;
  margin: 10px 0;
}
#orderInfo .msg_web,
#allOrderInfo .msg {
  display: flex;
  justify-content: flex-start;
  width: 50% !important;
  margin: 10px 0;
}
#orderInfo .v-text-field__suffix,
#allOrderInfo .v-text-field__suffix {
  color: #b3a89e;
}
.webmaster > .msg > .v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 0;
  flex-wrap: wrap;
  min-width: 0;
  width: 300px;
  margin-right: 30px;
}
.webmaster > .msg_web > .v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 0;
  flex-wrap: wrap;
  min-width: 0;
  width: 350px;
  margin-left: 30px;
}
.user > .msg > .v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 0;
  flex-wrap: wrap;
  min-width: 0;
  width: 300px;
  margin-left: 30px;
}
.user > .msg_web > .v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 0;
  flex-wrap: wrap;
  min-width: 0;
  width: 350px;
  margin-right: 30px;
}
.v-text-field.v-input--dense:not(.v-text-field--outlined) .v-text-field__prefix {
  padding-right: 10px !important;
  color: #b3a89e;
}
#orderInfo .sendMessage,
#allOrderInfo .sendMessage {
  display: flex;
  justify-content: center;
}
.sendMessage > .v-input__control {
  flex-grow: 0;
  width: 80% !important;
}

#userMenu .v-dialog {
  background-color: snow !important;
}

#webmaster #userMenu {
  margin-top: 30px;
}
/* editPagesPhotolab-------------------------------------------------  */
#show_tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
#show_img {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  overflow: hidden !important;
}

#editPagesPhotolab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
/* .show_tab {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.show_img {
  overflow: hidden;
}

#editPagesPhotolab #app {
  height: 100px;
}
#show_tab #app {
  height: 100% !important;
}
#show_img #app {
  height: 100% !important;
}
#editPagesPhotolab .v-application--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#editPagesPhotolab .v-btn--fab.v-size--default.v-btn--absolute.v-btn--bottom {
  position: absolute;
  bottom: 15px;
  background-color: #677d35 !important;
  z-index: 2;
}
#editPagesPhotolab .img-info > .edit {
  background-color: rgba(103, 125, 53, 0.9) !important;
  color: rgba(255, 255, 255, 0.5);
  bottom: 60px;
  right: 18px;
}
#editPagesPhotolab .img-info > .del {
  background-color: rgba(205, 92, 92, 0.9);
  color: rgba(255, 255, 255, 0.5);
  bottom: 18px;
  right: 18px;
}
#editPagesPhotolab .v-sheet.v-sheet--shaped {
  position: absolute;
  border-radius: 24px;
  width: 80vw;
  height: 75vh !important;
  margin-top: 50px;
  background-color: antiquewhite;
}
#editPagesPhotolab .v-card__subtitle,
#editPagesPhotolab .v-card__text {
  display: flex;
  flex-direction: column;
}
#editPagesPhotolab .vue-waterfall {
  margin: 20px;
}
#editPagesPhotolab .vue-waterfall-easy-container > .loading.ball-beat > .dot[data-v-ded6b974] {
  background-color: #677d35;
}
.editDialog.v-sheet.v-card {
  box-shadow: none;
  border-radius: 4px;
  margin: 10px;
}
.editDialog > .v-input__control {
  margin: 10px;
}
.v-chip-group .v-chip--active {
  color: inherit;
  background-color: aquamarine;
}
.vue-waterfall-easy-container[data-v-ded6b974] {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
}
#editPagesPhotolab .show {
  display: flex;
  margin-top: 50px;
}
#editPagesPhotolab .show > .theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
  background: antiquewhite;
  margin-left: 10px;
}
#userMenu .img-inputer--large {
  width: 100%;
  margin: 20px 0;
}
#userMenu .upload {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#userMenu .v-text-field {
  margin: 0 10px;
}
#userMenu .upload {
  margin: 5px 0;
}
/* photolab-------------------------------------------------  */
#photolab {
  width: 100%;
  height: 100%;
}
#photolab .photo {
  background-color: antiquewhite;
}
#photolab .item {
  margin: 10px;
}
#photolab .layout {
  justify-content: center;
  padding: 0 50px;
  height: 100%;
}
#photolab .item .v-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* uFavorite-------------------------------------------------  */
#uFavorite .layout {
  margin-top: 70px;
  justify-content: center;
  padding: 0 50px;
  height: 100%;
}
#uFavorite .item {
  margin: 10px;
}
#uFavorite .item .v-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* home_banner-------------------------------------------------  */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner .v-card {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  padding: 30px 0;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: none;
  border-radius: 0;
  /* background-color: rgba(146, 139, 130, 0.5); */
}
#banner .v-btn__content {
  margin: 10px;
  padding: 10px;
}
#banner .theme--light.v-divider {
  display: none;
}
#banner h1 {
  display: flex;
  font-weight: 500;
  font-size: 3.5rem;
}
#banner .aaa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
#banner .banner_new {
  /* width: 50px !important;
  height: 100px !important; */
  background-color: antiquewhite !important;
  box-shadow: none;
  margin: 10px;
  padding: 10px;
}
.ddd {
  display: flex;
  margin: 50px;
}
/* about-------------------------------------------------  */
#about .about {
  background-color: antiquewhite;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
  padding: 0 30px;
}
#about .concept {
  flex-direction: column-reverse;
  display: flex;
  margin-top: 30px;
}
#about .v-responsive {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  max-width: 100%;
  display: flex;
  margin: 50px;
  height: 300px;
}
#about .v-image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#about pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
#about hr {
  height: 1px;
  border-top: 1px solid #000000;
}
#about span {
  letter-spacing: 2px;
  line-height: 35px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 30px;
}
#about p {
  letter-spacing: 2px;
  line-height: 35px;
  padding: 20px;
}
#about .photography_img {
  height: 100px !important;
  width: 100px !important;
}
#about .v-application .info {
  background-color: transparent !important;
  border-color: transparent !important;
}
#about .theme--light.v-sheet.photography {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  transition: 1s;
}
#about .theme--light.v-sheet.photography:hover {
  background-color: rgba(103, 125, 53, 0.8);
  transition: 1s;
}
/* allNews-------------------------------------------------  */
#allNews {
  display: flex;
  justify-content: center;
  align-items: center;
}
#allNews .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 50px;
  background-color: rgba(213, 202, 189, 0.5);
  flex-direction: column;
}
#allNews .v-card > *:first-child:not(.v-btn):not(.v-chip),
.v-card > .v-card__progress + *:not(.v-btn):not(.v-chip) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#allNews .new {
  display: flex;
  justify-content: center;
  align-items: center;
}
#allNews .article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#allNews .v-image__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  width: 600px;
  height: 400px;
}
#allNews span {
  margin: 40px 0;
  display: inline-block;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  width: 80vw;
}
#allNews .v-btn:not(.v-btn--round).v-size--default {
  height: 30px;
  width: 110px;
  padding: 0 16px;
  border-radius: 0;
  box-shadow: none;
  padding: 10px;
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 3px;
}
#allNews .v-btn:not(.v-btn--round).v-size--default:hover {
  background-color: #677d35;
}
#allNews .card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#allNews .v-ripple__container {
  display: none;
}
/* artical-------------------------------------------------  */
#artical {
  display: flex;
  justify-content: center;
  align-items: center;
}

#artical .v-card.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-direction: column;
  box-shadow: none;
  border-top: 15px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  margin-top: 20px;
  border-radius: 0;
}
#artical .v-card.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  box-shadow: none;
  padding: 50px;
  margin-top: 20px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 1s;
}
#artical .v-card.p2:hover {
  background-color: rgba(103, 125, 53, 0.8);
  transition: 1s;
}

#artical .v-sheet {
  background-color: antiquewhite;
}
#artical .v-item-group {
  width: 80vw;
  flex: 0 1 auto;
  position: relative;
  max-width: 100%;
  /* background-color: rgba(255, 255, 255, 0.35); */
  /* background-color: antiquewhite; */
  border-top: 15px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
#artical h1 {
  font-size: 1.5rem;
}
#artical pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
#artical p {
  margin: 50px 0;
  line-height: 35px;
}
#artical h6 {
  /* color: antiquewhite; */
  font-weight: 700;
}
#artical .v-icon.v-icon {
  color: #677d35 !important;
}

/* 假字 */
#word {
  height: 100%;
  display: flex;
  position: relative;
}

/* 視差套件 */
.Masthead {
  z-index: 1 !important;
}
.Masthead .v-responsive {
  height: 100%;
}
.Masthead__image.is-fixed {
  position: fixed;
  will-change: transform;
  top: 250px !important;
}

/* 輪播 */
.vue-flux {
  height: 50vh;
  width: 100vw !important;
  margin-top: 25px;
}
.vue-flux .preloader {
  display: none;
}

@media (min-width: 992px) {
  #menu .img-1 {
    width: 100px;
    height: auto;

    margin: 30px;
    display: flex;
    position: absolute;
  }

  #resBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 160px;
    text-align: right;
    width: auto;
  }

  #resBtn .v-btn {
    color: #2e2d2d;
  }
  #resBtn .btn-1 {
    display: flex;
  }
  #resBtn .v-btn:before {
    display: none;
  }
  #botton {
    margin-top: 20px;
  }
  #nevBtn {
    display: none;
  }
  #topBtn .v-btn {
    bottom: 30px;
    right: 10px;
  }
  #login .container {
    width: 500px;
  }
  #uData .v-card {
    display: flex;
    align-items: center;
    width: 850px;
    padding: 30px;
  }
  #uData span {
    flex-direction: row;
    width: 100%;
  }
  #uData .v-card__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #order form {
    width: 65%;
    height: 100%;
  }
  #uOrder .v-data-table__wrapper {
    width: 100%;
  }
  #uOrder .theme--light.v-data-table .v-data-footer {
    width: 100%;
  }

  #orderInfo .v-card,
  #allOrderInfo .v-card {
    width: 1000px;
  }

  #allOrderList .theme--light.v-data-table {
    margin: 50px 0;
    padding: 10px 150px;
  }
  /* #editPagesHome .theme--light.v-data-table {
    padding: 10px 150px;
  } */
  #editPagesHome .v-data-table__wrapper {
    width: 100%;
    overflow: hidden;
  }
  #editPagesHome .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    margin: 100px !important;
    padding: 0 100px !important;
  }

  #banner .v-card {
    flex-direction: row;
  }

  /* #banner .v-btn:not(.v-btn--round).v-size--default {
    margin: 0 100px;
  } */
  #banner .v-card > *:last-child:not(.v-btn):not(.v-chip) {
    /* margin: 0 50px; */
    padding: 0px !important;
  }
  #banner .theme--light.v-divider {
    display: inline;
    border-color: #000000;
  }
  #about .about {
    align-items: flex-start;
    flex-direction: row;
    padding: 20px;
  }
  #about .concept {
    text-align: center;
    padding: 0;
    margin-top: 10px;
  }
  #about .concept_span {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  #about .v-responsive {
    margin-right: 50px;
    width: 400px;
    height: 600px;
  }
  #about pre {
    padding-top: 50px;
  }
  #about .marquee-container[data-v-3e75ce31] {
    padding-top: 50px;
    overflow: hidden;
  }
  #about .marquee {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .v-application .info > pre {
    padding-top: 0 !important;
  }
  #allNews .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 50px;
    background-color: rgba(213, 202, 189, 0.5);
    flex-direction: row;
  }
  #allNews span {
    width: 30vw;
  }
  #allNews .article {
    align-items: flex-start;
  }

  #allNews .v-btn:not(.v-btn--round).v-size--default {
    position: absolute;
    right: 100px;
    bottom: 80px;
  }

  #artical h1 {
    font-size: 2rem;
  }
  #artical pre {
    /* margin: 50px 0;
    letter-spacing: 2px;
    line-height: 35px;
    font-size: 15px; */
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
  }

  #userMenu .addimg.img-inputer--large {
    width: 500px;
  }
  .btn {
    position: absolute;
    bottom: 10px;
    right: 180px;
  }

  /* 輪播 */
  .vue-flux {
    height: 60vh !important;
    width: 80vw !important;
  }
  .vue-flux .preloader {
    display: none;
  }
}

@media (min-width: 1000px) {
  #uOrder .v-data-table__wrapper {
    width: 1000px;
  }
  #uOrder .theme--light.v-data-table .v-data-footer {
    width: 1000px;
  }
}
