html,
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px;
  transition: background-color 5000s ease-in-out 0s;
}

/* #app {
  height: 100vh;
  width: 100vw;
} */

#home,
#about,
#serive,
#photolab,
#qanda {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#top {
  width: 100vw;
  height: 230px;
  z-index: 10;
}

#content {
  width: 100vw;
  height: 100%;
}

#botton {
  width: 100vw;
  height: 220px;
  display: flex;
  align-items: flex-end;
  background-color: antiquewhite;
  margin-top: 70px;
}

.transition-swing {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

/* sweetalert------------------------------------------------- */
.swal2-popup {
  background-color: rgba(50, 50, 50, 0.9) !important;
  border-radius: 0px !important;
  width: 250px !important;
}

.swal2-title {
  font-size: 1rem !important;
  color: antiquewhite !important;
}

.swal2-styled.swal2-confirm {
  background-color: antiquewhite !important;
  border: 0px !important;
  color: #595959 !important;
  font-size: 1rem !important;
  /* border-radius: 0px !important; */
}

#swal2-content {
  color: antiquewhite !important;
}
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* 前導頁------------------------------------------------- */

#leading {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  position: relative;
  z-index: 999;
}

#leading .logo {
  margin: 30px;
  position: absolute;
  z-index: 2;
}
#leading .img-1 {
  width: 100px;
  height: auto;

  margin: 30px;
  display: flex;
  position: absolute;
}

#leading .btn {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#leading .v-btn {
  position: absolute;
  bottom: 20%;
  z-index: 2;
}
#leading .video {
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  z-index: 1;

  position: absolute;
  padding: 0 !important;
}
#leading .v-parallax {
  width: 100vw !important;
  height: 50% !important;
}

/* Menu------------------------------------------------- */
#menu {
  /* position: fixed; */
  width: 100vw;
  height: 230px;
  background-color: antiquewhite;
}
#menu .img-1 {
  display: none;
}
#menu .menu {
  padding: 0 !important;
  height: 200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
}
#menu .menu-logo {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100vw;
}
#menu .img-2 {
  width: auto;
  height: 100px;
  margin: 30px 0;
  padding: 10px;
}
#menu .menu-btn {
  height: 100px;
  display: flex;
  justify-content: center;

  position: relative;
}
#menu .menu-btn::before {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px solid #000000;
  position: absolute;
}
#menu .menu-btn::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px solid #000000;
  position: absolute;
  top: 50px;
}
#menu .v-overlay__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu .v-overlay__content .v-btn {
  position: relative !important;

  font-size: 1rem;
  margin: 10px;
  padding: 30px;
}
#menu .v-overlay__content .btn-close {
  font-size: 1rem;
  margin-bottom: 100px;
  padding: 5px;
}

/* 預約按鈕------------------------------------------------- */
#resBtn {
  display: flex;
  flex-direction: row;
  width: 50px;
  position: absolute;
  right: 5px;
  top: 160px;
}
#resBtn .v-btn {
  height: 40px;
  width: 40px;
  border: none;
  margin: 5px;
  color: rgb(184, 55, 46);
}
#resBtn .btn-1 {
  display: none;
}
#resBtn .v-btn:before {
  display: none;
}

/* footer------------------------------------------------- */
#footer {
  width: 100vw;
  z-index: 1;
}

/* #footer .v-footer {
  display: flex;
  align-items: flex-end;
  background-color: antiquewhite !important;
} */
#footer .v-footer .v-card {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(75, 69, 60);

  padding: 10px 10px 10px 0;
}
#footer .v-card__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nevbtn------------------------------------------------- */
#nevBtn {
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  z-index: 2;
}
#nevBtn .v-btn {
  color: inherit !important;
}

/* topbtn------------------------------------------------- */
#topBtn .v-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(252, 253, 251, 0.8);
  color: #000000;
  position: fixed;
  bottom: 65px;
  right: 10px;

  z-index: 2;
}
/* login------------------------------------------------- */
#login #app {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 0 25px;
}
#login .transition-swing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#login,
#lobin .v-form {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#login h4 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#login h5 {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.7);
}
#login #div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#login v-col {
  display: flex;
  flex-direction: row;
}
#login .v-card {
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px solid #000000;
}
#login .v-card .v-ripple__container {
  display: none;
  background-color: rgba(133, 62, 62, 0);
}
.v-card--link:before {
  display: none;
}
#login .v-btn--disabled {
  background-color: rgba(0, 0, 0, 0.1);
}
/* #login .theme--light.v-label {
  color: rgb(92 118 52 / 0.6);
} */
.v-messages__message {
  line-height: 12px;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: rgb(92 118 52 / 0.6);
}

/* usermenu------------------------------------------------- */
#userMenu {
  display: flex;
  justify-content: center;
}

/* #userMenu .v-icon {
  color: #677d35;
} */
#userMenu .v-btn.v-btn:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
#userMenu .v-btn.v-btn:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
#userMenu .theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
  background: rgba(255, 255, 255, 0.2);
}
#userMenu .theme--light.v-btn.v-btn--has-bg {
  background-color: transparent;
}

/* userdata */
#userData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
#userData .v-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100vw;
  padding: 50px;
  margin-top: 50px;
}
/* #userData .v-card__actions {
  display: flex;
  align-items: flex-end;
  padding: 8px;
} */
#userData .v-avatar {
  margin: 20px;
}
#userData .v-card__text {
  color: rgba(103, 125, 53, 0.9) !important;
}

/* 假字 */
#word {
  height: 100%;
  display: flex;
  position: relative;
}

@media (min-width: 992px) {
  #menu .img-1 {
    width: 100px;
    height: auto;

    margin: 30px;
    display: flex;
    position: absolute;
  }

  #resBtn {
    display: flex;
    flex-direction: row;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 160px;
  }

  #resBtn .v-btn {
    color: #2e2d2d;
  }
  #resBtn .btn-1 {
    display: flex;
  }
  #resBtn .v-btn:before {
    display: none;
  }
  #botton {
    margin-top: 20px;
  }
  #nevBtn {
    display: none;
  }
  #topBtn .v-btn {
    bottom: 30px;
    right: 10px;
  }
  #userData .v-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 65%;
    padding: 100px;
  }
}
